.title {
  margin: -40px 0px 30px 160px;
  display: inline-block;
  border-bottom: 2px solid #FB9337;
  width: 100px;
}

#tb {
  position: relative;
  left: 300px;
}

#tb tr {
  height: 40px;
}

#body th tb {
  text-align: center;
}

#pager > li > a, #pager > li > span {
  position: relative;
  float: left;
  padding: 5px 12px;
  margin-left: -1px;
  line-height: 1.53846154;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

#pager > li.active > a, #pager > li.active > a:hover, #pager > li.active > span, #pager > li.active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #3280fc;
  border-color: #3280fc;
}

#pager > li:first-child > a, #pager > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#pager > li > a, #pager > li > span {
  position: relative;
  float: left;
  padding: 5px 12px;
  margin-left: -1px;
  line-height: 1.53846154;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

#pager > li {
  display: inline;
}

#pager {
  position: relative;
  left: 600px;
}
body {
  background: url('../img/bg13.jpg');
  width: 100%;
}
#nav ul li{
  color: white;
}
#nav ul li a{
  color: white;
}
.navbar {
  height: 100px;
  font-size: 24px;
}
.pager-label {
  color: white;
  font-size: 18px;
}